/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Animation | Avatar Zoom ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.avatar-1BDn8e.clickable-1bVtEA {
    display: inline-block;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
  
.avatar-1BDn8e.clickable-1bVtEA:hover {
    display: inline-block;
    cursor: pointer;
    transform: scale(1.2);
}
