/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Animated | Animated Home Button ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/


.homeIcon-tEMBK1 {
    animation: Home 1.5s infinite ease-in-out;
  }
  @keyframes Home {
    0% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(4deg) scale(1.01);
    }
    100% {
      transform: rotate(-4deg);
    }
  }
