/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||                                                                                               |||||||| */
/* ||| This is the official CreArts theme created by CorellanStoma#1996                              |||||||| */
/* |||                                                                                               |||||||| */
/* ||| CreArts Discord Theme v4.0                                                                    |||||||| */
/* |||                                                                                               |||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@import url("https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css");

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| BlurpleRecolor |||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

:root {
--accentcolor: 205,9,82;
--linkcolor: 205,9,82;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Horizontal Serverlist (Settings) |||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

:root {
--HSL-size:54px; /* Size of Server Icons */
--HSL-spacing: 14px; /* Space between servers */
--HSL-roundness: 100%; /* Server non hovered and selected */
--HSL-roundnessHover: 100%; /* Server hovered */
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Settings |||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.theme-dark,
:root {
  
/* Accenr */

   	--Color001: #CD0952 !important; /* Accent 01 (DND)*/
	--Color010: #27D8A1 !important; /* Accent 02 (Online)*/
	--Color011: #FFD848 !important; /* Accent 03 (Idle)*/
	--Color012: #7733D5 !important; /* Accent 04 (Stream)*/
	
/* Gray */

	--Color002: #3D4351 !important; /* Gray 01 */
	--Color003: #303440 !important; /* Gray 02 */
	--Color004: #2C303A !important; /* Gray 03 */
	--Color005: #252830 !important; /* Gray 04 */

	
/* Text */	

	--Color006: #FFFFFF !important; /* White */
	--Color007: #C8CDDB !important; /* Active */
	--Color008: #989FB1 !important; /* Text */
	--Color009: #6C7180 !important; /* Muted */


  
  
/* Old */  
    --background-tertiary: #252830 !important;
    --background-floating: #252830 !important;
  
    --text-muted: #6c7180 !important;
  
    --channels-default: #989FB1 !important;
    --interactive-normal: #989FB1 !important;
    --interactive-hover: #ffffff !important;
    --interactive-active: #ffffff !important;
    --interactive-muted: #6c7180 !important;
   
    --background-modifier-hover: rgba(255,255,255,0.01) !important;
    --background-modifier-active: rgba(255,255,255,0.03) !important;
    --background-modifier-selected: rgba(255,255,255,0.04) !important;
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --channeltextarea-background: var(--Color001) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --activity-card-background: var(--Color004) !important;
   

    --header-secondary: #989FB1 !important;
  
    --channel-list: #303440 !important;
}









/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Blur ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/*
.app-1q1i1E {
	filter: blur(4px);
}

.app-1q1i1E:hover {
	filter: blur(0px);
	transition: filter .3s;
}
*/

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| User Settings |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    background-color: var(--Color001);
}
.side-8zPYf6 .item-PXvHYJ {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 2.2px;
    border-radius: 90px;
}

/* |||||||||||||||||||| */
/* ||| Aspect ratio ||| */
/* |||||||||||||||||||| */


/*
.sidebarRegion-VFTUkN {
    flex: 0px;
    z-index: 1;
}

.contentColumn-2hrIYH, .customColumn-Rb6toI {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 740px;
    min-width: 460px;
    min-height: 100%;
}
*/





.formNotice-2_hHWR {
    box-sizing: border-box;
	border-radius: 24px;
}

.sidebarRegionScroller-3MXcoP {
    background: var(--Color003);
}

.contentRegionScroller-26nc1e {
    background-color: var(--Color004);
}

.divider-3573oO {
    border-top: 2px solid var(--Color003);
}

/* ||||||||||||||||||||||||||| */
/* ||| My Account Settings ||| */
/* ||||||||||||||||||||||||||| */


.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg {
	filter: blur(4px);
}

.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg:hover {
	filter: blur(0px);
	transition: filter .3s;
}







.userSettingsAccount-2eMFVR .userInfoEditing-1CEzdT, .userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 {
    padding: 20px;
    border-radius: 24px;
}

.userSettingsAccount-2eMFVR .userInfoViewingButton-2-jbH9 {
    border-radius: 24px;
}

.sizeSmall-2cSMqn {
    border-radius: 24px;
}

.userSettingsSecurity-3IYeMF .isEnabled-24g9qA {
    color: var(--Color010);
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    color: var(--Color001);
    border-color: var(--Color001);
}

/* No Phone Nummber */

.userSettingsSecurity-3IYeMF .flexChild-faoVW3 div:nth-child(3) .children-rWhLdy .colorStandard-2KCXvj:nth-child(2) {
  display: none;
}

.userSettingsSecurity-3IYeMF .flexChild-faoVW3 div:nth-child(3) .children-rWhLdy .flex-1xMQg5 button {
  margin-top: 10px;
}

/* 2Factor Background */

.theme-dark .root-1gCeng {
  	background: var(--Color004);

}

.root-1gCeng {
    border-radius: 24px;
}

.theme-dark .footer-2gL1pp {
  	background: var(--Color005);
}

.footer-2gL1pp {
    border-radius: 0 0 24px 24px;
}

/* 2Factor Button */

.grow-q77ONN, .sizeIcon-1-kvKI {
    border-radius: 24px;
}

/* Input */

.input-cIJ7To {
    border-radius: 24px;
    background-color: var(--Color005);
    border: none;
}

/* |||||||||||||||||||||||| */
/* ||| Privacy & Safety ||| */
/* |||||||||||||||||||||||| */

.card-3Qj_Yx {
	background: var(--Color005);
    border-radius: 24px;	
    position: relative;
    border: none;;
}



/* ||||||||||||||||||||||| */
/* ||| Authorized Apps ||| */
/* ||||||||||||||||||||||| */

/* ||||||||||||||||||| */
/* ||| Connections ||| */
/* ||||||||||||||||||| */

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
    background-color: var(--Color003);
	border-radius: 90px;
}

.theme-dark .elevationLow-2lY09M {
    -webkit-box-shadow: none;
    box-shadow: none;
	border-radius: 24px;
}

.connectionHeader-2MDqhu {
    background: transparent;
}

.connectionDelete-2Odoln {
    border: 1px solid #ffffff8d;
    border-radius: 90px;
}

/* ||||||||||||||| */
/* ||| Billing ||| */
/* ||||||||||||||| */

.subText-V8PTt8 {
	filter: blur(2px);
}

.subText-V8PTt8:hover {
	filter: blur(0px);
	transition: filter .3s;
}













/* Indicator */

.theme-dark .defaultIndicator-G3c16x {
    background: var(--Color002);
    color: var(--Color007);
	border-radius: 90px;
}

.theme-dark .premiumIndicator-1XvbfM {
    background: var(--Color001);
    color: #fff;
	border-radius: 90px;
}








.paymentPane-3bwJ6A {
    border-radius: 24px;
    overflow: hidden;
}

.theme-dark .paymentPane-3bwJ6A {
    background-color: var(--Color005);
    color: var(--Color008);
}

.theme-dark .paginator-166-09 {
    background-color: var(--Color005);
}

.theme-dark .payment-xT17Mq {
    background-color: var(--Color003);
    color: var(--Color008);
}

.theme-dark .bottomDivider-1K9Gao {
    border-bottom-color: var(--Color003);
}

.theme-dark .expandedInfo-3kfShd {
    background: var(--Color004);
	border-radius: 24px;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
    color: #fff;
    background: var(--Color005);
    border: none;
}





/* ||||||||||||||||||||| */
/* ||| Subscriptions ||| */
/* ||||||||||||||||||||| */




/* |||||||||||||||||||||| */
/* ||| Gift Inventory ||| */
/* |||||||||||||||||||||| */

.header-1RC2Wb {
    background: var(--Color005);
	border-radius: 24px;
}

/* |||||||||||||||||||| */
/* ||| Server Boost ||| */
/* |||||||||||||||||||| */

.guildHeader-3nh5RK {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--background-tertiary);
    position: relative;
}




/* ||||||||||||||||| */
/* ||| HypeSquad ||| */
/* ||||||||||||||||| */

/* ||||||||||||||||||||| */
/* ||| Voice & Video ||| */
/* ||||||||||||||||||||| */

/* ||||||||||||||| */
/* ||| Overlay ||| */
/* ||||||||||||||| */

/* ||||||||||||||||||||| */
/* ||| Notifications ||| */
/* ||||||||||||||||||||| */

/* |||||||||||||||| */
/* ||| Keybinds ||| */
/* |||||||||||||||| */



/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Serverlist ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */




/* |||||||||||||||||||||||||||||| */
/* ||| Round Server Selection ||| */
/* |||||||||||||||||||||||||||||| */

.expandedFolderBackground-2sPsd- {
    background: var(--Color004);
}

.circleIconButton-jET_ig {
    color: var(--Color008);
    background-color: var(--Color003);
}

.childWrapper-anI2G9 {
    background-color: var(--Color003);
    color: var(--Color008);
}

/* |||||||||||||||||||||||||||||||| */
/* ||| Folder color when Closed ||| */
/* |||||||||||||||||||||||||||||||| */

.closedFolderIconWrapper-15K9MK {
  background-color: var(--Color005);
}

.expandedFolderBackground-2sPsd- {
    position: absolute;
    top: 0;
    left: 12px;
    bottom: 8px;
    width: 48px;
    border-radius: 24px;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background: transparent;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Topbar ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* |||||||||||||||||| */
/* ||| Background ||| */
/* |||||||||||||||||| */

.clickable-2ap7je .header-2o-2hj {
    background: var(--Color003);
	height: 60px;
}
.container-1r6BKw.themed-ANHk51 {
    background: var(--Color003);
	height: 60px;
}

.header-2o-2hj {
    position: relative;
    font-weight: 500;
    padding: 0 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 3;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    color: var(--header-primary);
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
}









/* |||||||||||||||||||||| */
/* ||| Remove Element ||| */
/* |||||||||||||||||||||| */

.theme-dark .children-19S4PO:after {
    display: none;
}

/* |||||||||||||||||| */
/* ||| No Divider ||| */
/* |||||||||||||||||| */

.content-yTz4x3:before, .divider-3FBTu8{
    display: none;
}

:root{
    --elevation-low: none;
}

.channelNotice-3DDmsB{
    box-shadow: none;
}

.attachWrapper-2TRKBi, .panel-24C3ux, .peopleListItem-2nzedh, .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY, .header-39GIC8, .headerCell-3L6rFG{
    border: none;
}

/* ||||||||||||||||||| */
/* ||| Update Icon ||| */
/* ||||||||||||||||||| */

.updateIconForeground-3tnNZn {fill: var(--Color010)}
.updateIconForeground-3tnNZn:hover {fill: var(--Color010)}
.updateIconForeground-3tnNZn:active {fill: var(--Color010)}

/* ||||||||||||||||||||| */
/* ||| Animated Ping ||| */
/* ||||||||||||||||||||| */

.numberBadge-2s8kKX {
  animation: animatedPing 1.5s infinite ease-in-out;
}

@keyframes animatedPing {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

/* ||||||||||||||| */
/* ||| Iconbar ||| */
/* ||||||||||||||| */

.toolbar-1t6TWx {
	background: var(--Color004);
	border-radius: 90px;
	Padding:	4px;
	margin-right: 4px;
}

/* ||||||||||||||||| */
/* ||| Searchbar ||| */
/* ||||||||||||||||| */

.searchBar-3dMhjb {
    background-color: transparent;
}

/* ||||||||||||||||||||| */
/* ||| Follow Button ||| */
/* ||||||||||||||||||||| */

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background: var(--Color001);
}

/* ||||||||||||||||||||||| */
/* ||| Guild Separator ||| */
/* ||||||||||||||||||||||| */

#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .guildSeparator-3s64Iy {
    display: none;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Home ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ||||||||||||||||||||||||| */
/* ||| Remove Nitro Menu ||| */
/* ||||||||||||||||||||||||| */

#private-channels [href="/store"] {
    display: none;
}

/* ||||||||||||||||||||||| */
/* ||| Round Searchbar ||| */
/* ||||||||||||||||||||||| */

.privateChannels-1nO12o {
    background-color: var(--channel-list);
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    border-radius: 24px;
    background-color: var(--Color005);
    text-align: center;
}
/* |||||||||||||||||| */
/* ||| Friendlist ||| */
/* |||||||||||||||||| */

.scroller-1JbKMe {
	
    background: var(--Color003);
}

.layout-2DM8Md {
    border-radius: 24px;
    height: 50px;
}

/* ||||||||||||||||||||| */
/* ||| Friend Status ||| */
/* ||||||||||||||||||||| */

.peopleColumn-29fq28 {
	border-radius: 24px 24px 0 0;
	background: var(--Color004);
}

.tabBody-3YRQ8W {

    background: var(--Color003);

}

.actionButton-uPB8Fs {
    background: var(--Color002);
}

.selected-aXhQR6 .layout-2DM8Md {
    background: var(--Color004);
}


.avatar-3W3CeO {
    background: var(--Color003);
}

.wrapper-3t9DeA {
    background: var(--Color002);
}

/* ||||||||||||||||||||||||||||| */
/* ||| Active Now Background ||| */
/* ||||||||||||||||||||||||||||| */

.nowPlayingColumn-2sl4cE {
    background: var(--Color003);
}

.wrapper-3D2qGf {
    background-color: var(--Color005);
  	border-radius: 24px;
}

.emptyCard-1RJw8n {
    background: var(--Color004);
}

/* |||||||||||||||||||||||||| */
/* ||| Active Now Spotify ||| */
/* |||||||||||||||||||||||||| */

.section-2gLsgF {
    position: relative;
    padding: 12px;
    border-radius: 90px;
	background: var(--Color003);
}

.theme-dark .inset-3sAvek {
    background-color: transparent;
}

.activitySectionAssets-32WyHu .largeImage-DLXk-f {
    width: 32px;
    height: 32px;
    border-radius: 90px;
    -o-object-fit: cover;
    object-fit: cover;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Profile |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* ||||||||||||| */
/* ||| Round ||| */
/* ||||||||||||| */

.panels-j1Uci_ {
    background-color: transparent;
    padding-top: 0px;
    padding-right: 26px;
    padding-bottom: 23px;
    padding-left: 26px;
}

/* |||||||||||||||||| */
/* ||| Background ||| */
/* |||||||||||||||||| */

.container-3baos1 {
    height: 44px;
    background: var(--Color005);
    border-radius: 24px;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 10px;
}

/* ||||||||||||||||| */
/* ||| Full Name ||| */
/* ||||||||||||||||| */

.nameTag-3uD-yy {
    margin-right: 0px;
}

.subtext-3CDbHg {
    margin-right: -20px;
}

/* ||||||||||||| */
/* ||| Hover ||| */
/* ||||||||||||| */

.panels-j1Uci_ > .container-3baos1:hover button.button-14-BFJ{
  display: block;
}

/* |||||||||||||||||||||||| */
/* ||| Hover Background ||| */
/* |||||||||||||||||||||||| */

.panels-j1Uci_ > .container-3baos1 button[aria-checked="false"], .panels-j1Uci_ > .container-3baos1 button:not([role="switch"]) {
  display: none;
  background: var(--Color005);
  margin: 0px;
      border-radius: 0px;
}


/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Channellist |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.container-PNkimc {
    background-color: var(--Color003);
	padding-right: 10px;
    padding-left: 10px;
}

.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU {
    background-color: var(--Color004);
	border-radius: 90px;
}

.header-2o-2hj {
	color: var(--Color007);
	padding-right: 10px;
    padding-left: 10px;
    box-shadow: none;
	z-index: 3;
}






/* |||||||||||||||||| */
/* ||| Background ||| */
/* |||||||||||||||||| */

#app-mount .sidebar-2K8pFh {
    background: var(--Color003);
}



.clickable-2ap7je {
    background: var(--Color004);
}

.channelTextArea-rNsIhG {
    margin-bottom: 24px;
    background-color: var(--Color004);
}



/* |||||||||||| */
/* ||| Text ||| */
/* |||||||||||| */

.wrapper-CU3qI5, .layout-2DM8Md{
    padding: 0 22px;
}

.container-2ax-kl{
    color: var(--Color008);
    text-transform: unset;
    font-size: 14px;
}

.containerDefault-1ZnADq{
    color: var(--Color001);
}

.icon-WnO6o2{
    left: 6px;
}

.container-PNkimc .scroller-2FKFPG::-webkit-scrollbar, .scroller-1JbKMe::-webkit-scrollbar{
    display: none;
}

.content-3at_AU{
    height: 30px;
    padding: 0 20px;
    margin:0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

#channels::-webkit-scrollbar{
    display: none;
}


/* ||||||||||||||||||| */
/* ||| New Unreads ||| */
/* ||||||||||||||||||| */


.unread-1xRYoj {
    background-color: var(--Color001);
    opacity: 1;
}






















/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Memberlist ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||| */
/* ||| Background ||| */
/* |||||||||||||||||| */

.members-1998pB, .members-1998pB>div {
    background-color: var(--Color003);
}

/* |||||||||||||||||||||||||||||||||||| */
/* ||| Old rounded status indicator ||| */
/* |||||||||||||||||||||||||||||||||||| */

.header-QKLPzZ rect[mask="url(#svg-mask-status-online)"], .userPopout-3XzG_A rect[mask="url(#svg-mask-status-online)"] {
	fill: var(--Color010);
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-idle)"] {
	fill: var(--Color011);
	mask: url(#svg-mask-status-online);
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-dnd)"] {
	fill: var(--Color001);
	mask: url(#svg-mask-status-online);
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-streaming)"]{
	fill: var(--Color012);
    mask: url(#svg-mask-status-online);
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-offline)"] {
	fill: var(--Color010);
	mask: url(#svg-mask-status-online);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Chat ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||| */
/* ||| Background ||| */
/* |||||||||||||||||| */

.chatContent-a9vAAp {
    background-color: var(--Color004);
	border-radius: 24px 24px 0 0;
}

.content-yTz4x3 {
    background-color: var(--Color003);
}

/* |||||||||||||||||||||||||| */
/* ||| Message Background ||| */
/* |||||||||||||||||||||||||| */

.cozy-3raOZG.wrapper-2a6GCs {
	padding-left: 110px;
}

/* |||||||||||||| */
/* ||| Avatar ||| */
/* |||||||||||||| */

.avatar-1BDn8e {
    width: 60px;
    height: 60px;
  	background: var(--Color003);
	margin-left: 10px;
}

/* |||||||||||||||||| */
/* ||| Text Align ||| */
/* |||||||||||||||||| */

.cozy-3raOZG .messageContent-2qWWxC {
    text-align: justify;    
	margin-left: -72px;
    padding-left: 72px;
	margin-right: 40px;
}

/* |||||||||||||||||||| */
/* ||| Text Spacing ||| */
/* |||||||||||||||||||| */

.group-spacing-16 .groupStart-23k01U {
    margin-top: 30px;
}



/* |||||||||||||||||||| */
/* ||| No Scrollbar ||| */
/* |||||||||||||||||||| */

.scrollerBase-289Jih::-webkit-scrollbar{
    display: none;
}

/* |||||||||||||||| */
/* ||| Download ||| */
/* |||||||||||||||| */

.attachment-33OFj0 {
    border: none;
    background-color: var(--Color005);
	border-radius: 24px;
	
}

/* |||||||||||||||||||| */
/* ||| Round Image  ||| */
/* |||||||||||||||||||| */

.imageWrapper-2p5ogY img {
    border-radius: 16px;
}
/* ||||||||||||| */
/* ||| Embed ||| */
/* ||||||||||||| */

.grid-1nZz7S {
    background: var(--Color005);
    border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
}

embedAuthorName-3mnTWj, .embedAuthorNameLink-1gVryT, .embedDescription-1Cuq9a, .embedFieldName-NFrena, .embedFieldValue-nELq2s, .embedFooterText-28V_Wb, .embedLink-1G1K1D, .embedProvider-3k5pfl, .embedTitle-3OXDkz, .embedTitleLink-1Zla9e {
    text-align: justify;
}

.embedFull-2tM8-- {
    border-left: 5px solid var(--Color001);
}

/* |||||||||||||||||||||||||| */
/* ||| Quotes like embeds ||| */
/* |||||||||||||||||||||||||| */

.theme-dark .blockquoteContainer-U5TVEi blockquote {
    background-color: var(--Color003);
    border-color: var(--Color003);
 
}

.blockquoteContainer-U5TVEi blockquote {
    border: 2px solid;
    border-top-right-radius: 24px;
 		border-bottom-right-radius: 24px;
    padding: 8px 12px 4px;
   	margin-bottom: 20px;
  
}

.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6 {
    border-radius: 4px 0px 0px 4px;
  	background-color: var( --Color001);
    margin-bottom: 20px;
}

/* ||||||||||||||| */
/* ||| Mention ||| */
/* ||||||||||||||| */

#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y:not(.groupStart-23k01U) {
  padding-bottom: 20px;
  margin-top: -22px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}













/* ||||||||||||||||||||||| */
/* ||| Message Divider ||| */
/* ||||||||||||||||||||||| */

:root .divider-JfaTT5{
    margin: 0 56px;
    border: none;
    height: 40px;

}

.content-1o0f9g, .unreadPill-2HyYtt{
    background: var(--Color003);
    width: 140%;
    padding: 12px;
    text-align: center;
    border-radius: 90px;
	padding-right: 50px;
}

.unreadPill-2HyYtt{
    position: relative;
    color: var(--Color008);
    top:0;
}

.unreadPillCap-3_K2q2{
    display: none;
}

.content-1o0f9g + .unreadPill-2HyYtt{
    position: absolute;
    width: unset;
}

:root .isUnread-3Ef-o9:not(.hasContent-1cNJDh){
    margin: 10px 47px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

/* |||||||||||||||||||| */
/* ||| Autocomplete ||| */
/* |||||||||||||||||||| */

:root .autocomplete-Z9HwQh{
    background: var(--Color003);
    bottom: calc(100% - 8px);
    border-radius: 8px 8px 0 0;
    box-shadow: none;
}

:root .contentTitle-2tG_sM{
    color: var(--Color008);
}

:root .selectorSelected-1_M1WV{
    background: var(--Color003);
}
/* ||||||||||||||||| */
/* ||| Hide edit ||| */
/* ||||||||||||||||| */

.edited-3sfAzf {
    display: none;
}

/* ||||||||||||||||||||||| */
/* ||| Round Code Menu ||| */
/* ||||||||||||||||||||||| */

.markup-2BOw-j code {
    background: var(--Color004);
    border: transparent;
    border-radius: 24px;
}

.hljs .powercord-lines:after {
    padding-right: 8px;
    left: 3px;
    border-right: 1px solid var(--Color005);
}

/* |||||||||||||||| */
/* ||| Reaction ||| */
/* |||||||||||||||| */

.reaction-1hd86g {
    background: var(--Color003);
    border-radius: 1rem;
}

/* ||||||||||||||||||||||| */
/* ||| Round Code Menu ||| */
/* ||||||||||||||||||||||| */

.markup-2BOw-j code {
    background: var(--Color005);
    border: transparent;
    border-radius: 8px;
}

.hljs .powercord-lines:after {
    padding-right: 8px;
    left: 3px;
    border-right: 1px solid var(--Color005);
}

/* |||||||||||||||||||||| */
/* ||| No Chat Header ||| */
/* |||||||||||||||||||||| */

.hasDivider-20M1le {
	display: none;
}

.container-3zqIcM {
	display: none;
}

/* |||||||||||||||||| */
/* ||| Emoji Info ||| */
/* |||||||||||||||||| */

.emojiSection-3Fb9ix {
    background: var(--Color005);
}

.container-ZRw2kD {
    width: auto;
    border-radius: 24px;
    background: var(--Color005);
}

/* |||||||||||||||||| */
/* ||| New Member ||| */
/* |||||||||||||||||| */

.iconSize-2tmqqh {
	Display: none;
    width: 1rem;
    height: 1rem;
}


.container-3-pyIM {
	background: var(--Color003);
	border-radius: 90px;
	padding: 8px
}

.content-2M3n_H {
	padding-left: 20px;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Chatbar |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||| */
/* ||| Background ||| */
/* |||||||||||||||||| */

.scrollableContainer-2NUZem {
    background: var(--Color005);
    max-height: 60vh;
  	border-radius: 24px;
}

.theme-dark .form-2fGMdU:before {
	background: transparent;
}

/* |||||||||||||||||| */
/* ||| Text Align ||| */
/* |||||||||||||||||| */

.slateTextArea-1Mkdgw {
    text-align: justify;
	margin-left: 28px;
}

.placeholder-37qJjk {
    left: 28px;
}

/* ||||||||||||||||||||||||||||||| */
/* ||| Remove Gif & Nitro Icon ||| */
/* ||||||||||||||||||||||||||||||| */

.buttonWrapper-1ZmCpA {display: none;}

/* ||||||||||||||||||||||||||||||| */
/* ||| Remove Gif & Nitro Icon ||| */
/* ||||||||||||||||||||||||||||||| */

.form-2fGMdU {
	background: transparent;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 12px;

}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Call ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* ||||||||||||||||||||||||||||| */
/* ||| No Picture in Picture ||| */
/* ||||||||||||||||||||||||||||| */

.pictureInPictureWindow-1B5qSe{
    display:none;
}

/* ||||||||||||||||| */
/* ||| Call Dock ||| */
/* ||||||||||||||||| */

.wrapper-3EGhDO {
    background-color: #2C303A;
    border-radius: 25px;
    padding: 0px;
}

.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: currentColor;
}

.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}

div[class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyCenter-3D2jYp alignCenter-1dQNNs noWrap-3jynv6"][style="flex: 1 1 auto;"]{
  background-color: #2C303A;
  border-radius: 30px;
}

.wrapper-2qzCYF.fullScreen-1tMzXY, .wrapper-2qzCYF.noChat-18KtBD {
    height: 100%;
    background: #000;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Card ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* |||||||||||||||||| */
/* ||| Role pills ||| */
/* |||||||||||||||||| */

.role-2irmRk{
  
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    padding: 5px;
}

.roleCircle-3xAZ1j::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: inherit;
    opacity: .2;
    z-index: -1;
    pointer-events: none;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Menus |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ||||||||||||||||||| */
/* ||| Contex Menu ||| */
/* ||||||||||||||||||| */

.wrapper-2aW0bm {
    background-color: var(--Color002);
    border-radius: 24px;
	box-shadow: none;
	margin-right: 76px;
}

/* ||||||||||||| */
/* ||| Inbox ||| */
/* ||||||||||||| */

.container-enaOkj {
    border-radius: 24px;
}

/* |||||||||||||||||||||||| */
/* ||| Status Selection ||| */
/* |||||||||||||||||||||||| */

.menu-3sdvDG {
    border-radius: 20px;
}

.item-1tOPte {
    border-radius: 24px;
}

.description-2L932D {
    margin-bottom: 0px;
    font-size: 0px;
    line-height: 0px;

}

.scroller-3BxosC {
    padding: 8px 8px;
}

/*Pinbox*/

.messagesPopoutWrap-1MQ1bW {

    border-radius: 24px;

}

.messageGroupWrapper-o-Zw7G {

    border-radius: 24px;

}

/*Large Profile*/

.root-SR8cQa{
  width: 900px;
}

/*Large Pinned*/

.messagesPopoutWrap-1MQ1bW{
  width: 900px;
}




/* ||||||||||||||||||| */
/* ||| Share Media ||| */
/* ||||||||||||||||||| */

.attachPopout-36hjtN {
    border-radius: 24px;
    background-color: var(--Color005);
    box-shadow: none;
}


.attachPopoutRow-3iqqu1 {
    border-radius: 90px;
    color: var(--Color008);
}

/* |||||||||||||||||||||| */
/* ||| Search Options ||| */
/* |||||||||||||||||||||| */




/* |||||||||||||||||||||| */
/* ||| Search History ||| */
/* |||||||||||||||||||||| */

.searchResultsWrap-3-pOjs {
    width: 800px;
}





/* |||||||||||||||||||| */
/* ||| Color Picker ||| */
/* |||||||||||||||||||| */

.theme-dark .colorPickerCustom-2CWBn2 {
    background: var(--Color004);
	border: none;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop-1wrmKB {
	opacity: 0.1;
    background: #fff;
    transform: translateZ(0px);

}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Discover ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||| */
/* ||| Background ||| */
/* |||||||||||||||||| */

.theme-dark .pageWrapper-1PgVDX {
    background-color: var(--Color003);
}

/* |||||||||||||||||||| */
/* ||| Round Header ||| */
/* |||||||||||||||||||| */

.headerImage-3X1tyY {
    border-radius: 24px;
}

/* ||||||||||||||||||| */
/* ||| Server Card ||| */
/* ||||||||||||||||||| */

.theme-dark .card-3DjzTQ, .theme-dark .iconMask-3b8GzQ {
    background-color: var(--Color004);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Add-Ons |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* |||||||||||||||||||||||||| */
/* ||| Button zoom effect ||| */
/* |||||||||||||||||||||||||| */

.button-14-BFJ, .grow-q77ONN, .iconItem-1-bXkn, .closeButton-2GCmT5, .icon-22AiRD, .addButton-1BORrom, .closeButton-1tv5uR {
  transition: all .2s ease-in-out;
}

.button-14-BFJ:hover, .iconItem-1-bXkn:hover, .closeButton-2GCmT5:hover, .icon-22AiRD:hover, .addButton-1BORro:hover, .closeButton-1tv5uR:hover {
    transform: scale(1.2);
}
/* |||||||||||||||||||| */
/* ||| Windows Menu ||| */
/* |||||||||||||||||||| */

#app-mount > div[class*="titleBar"] > div[class*="wordmark"] {
  margin-top: .2rem;
}

#app-mount > div[class*="titleBar"] {
  display: grid;
  justify-content: right;
  grid-template-columns: min-content min-content min-content;
  direction: rtl;
  height: 1.72rem;
  margin: 5px 0px 0px 0px;
}

#app-mount > div[class*="titleBar"] > div[class*="winButton"] {
  display: grid;
  width: 2.9rem;
  height: 1.72rem;
}

#app-mount > div[class*="titleBar"] > div[class*="winButton"] > svg {
  height: 100%;
  width: 100%;
}

#app-mount > div[class*="app"] {
  margin-top: -.18rem;
}
