/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||                                                                                               |||||||| */
/* ||| DanielKlingel.Design                                                                          |||||||| */
/* |||                                                                                               |||||||| */
/* ||| Hello there. I'm Daniel and I do Design                                                       |||||||| */
/* ||| My name is Daniel Klingel, I am an 3D-Design & Management Student living in Kevelaer, Germany |||||||| */
/* ||| and study in Cologne. I’m interested in learning new things and growing as a designer.If you  |||||||| */
/* ||| have question, commissions or opportunities contact me via mail! If you want to know more     |||||||| */
/* ||| about me click on the “view more” button.                                                     |||||||| */
/* |||                                                                                               |||||||| */
/* |||                                                                                               |||||||| */
/* ||| CreArts Discord Theme v3.0                                                                    |||||||| */
/* |||                                                                                               |||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

@import url("https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css");

@import url(https://hellbound1337.github.io/dark-discord/src/source.css);

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| BlurpleRecolor |||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

:root {
--accentcolor: 205,9,82;
--linkcolor: 205,9,82;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Horizontal Serverlist (Settings) |||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

:root {
--HSL-size:50px; /* Size of Server Icons */
--HSL-spacing: 14px; /* Space between servers */
--HSL-roundness: 100%; /* Server non hovered and selected */
--HSL-roundnessHover: 100%; /* Server hovered */
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Settings |||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.theme-dark,
:root {
    --background-primary: #2C303A !important;
    --background-secondary: #252830 !important;
    --background-secondary-alt: #3D4351 !important;
    --background-tertiary: #252830 !important;
    --background-accent: #CD0952 !important;
    --background-floating: #252830 !important;
    --offline-color: #2C303A !important;
  
    --text-normal: #c8cddb !important; 
    --text-muted: #6c7180 !important;
  
    --channels-default: #989FB1 !important;
    --interactive-normal: #989FB1 !important;
    --interactive-hover: #ffffff !important;
    --interactive-active: #ffffff !important;
    --interactive-muted: #6c7180 !important;
   
    --background-modifier-hover: rgba(255,255,255,0.01) !important;
    --background-modifier-active: rgba(255,255,255,0.03) !important;
    --background-modifier-selected: rgba(255,255,255,0.04) !important;
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --channeltextarea-background: var(--background-accent) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --activity-card-background: var(--background-primary) !important;
   

    --header-secondary: #989FB1 !important;
  
    --channel-list: #303440 !important;
  

}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Hide Edit |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.edited-3sfAzf {
    /** Change Edited text to transparent and hide it **/
    color: rgba(0, 0, 0, 0);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Remove Nitro Menu |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

#private-channels [href="/store"] {
    display: none;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Scrollable Roles ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.rolesList-22qj2L {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 310px;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Remove Gif & Nitro Icon |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.buttonWrapper-1ZmCpA {display: none;}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Remove Help Icon ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.toolbar-1t6TWx a {display: none;}


/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| No Picture in Picture |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.pictureInPictureWindow-1B5qSe{
    display:none;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Blured (Direct Messages list) |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.channel-2QD9_O[href*="/channels/@me/"] {
  filter: blur(5px);
}
.scroller-1JbKMe:hover > div > .channel-2QD9_O[href*="/channels/@me/"] {
  filter: blur(0);
  transition: filter .5s;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Server Site |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.headerImage-3X1tyY {
    border-radius: 24px;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Quotes like embeds ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* Make quotes look like embeds */
.theme-dark .blockquoteContainer-U5TVEi blockquote {
    background-color: var(--background-primary);
    border-color: var( --background-primary);
}
.blockquoteContainer-U5TVEi blockquote {
    border: 2px solid;
    border-radius: 0px 8px 8px 0px;
    padding: 8px 12px 4px;
}
.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6 {
    border-radius: 4px 0px 0px 4px;
  background-color: var( --background-accent);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Windows Bar |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

#app-mount > div[class*="titleBar"] > div[class*="wordmark"] {
  margin-top: .2rem;
}

#app-mount > div[class*="titleBar"] {
  display: grid;
  justify-content: right;
  grid-template-columns: min-content min-content min-content;
  direction: rtl;
  height: 1.72rem;
  margin: 5px 0px 0px 0px;
}

#app-mount > div[class*="titleBar"] > div[class*="winButton"] {
  height: unset;
  display: grid;
  width: 2.9rem;
  height: 1.72rem;
}

#app-mount > div[class*="titleBar"] > div[class*="winButton"] > svg {
  height: 100%;
  width: 100%;
}

#app-mount > div[class*="app"] {
  margin-top: -.18rem;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Old Status ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* Smaller mobile presence indicator */
rect[mask="url(#svg-mask-status-online-mobile)"] {
  width: 8px;
  height: 12px;
  x: 24;
  y: 19;
}

mask#svg-mask-avatar-status-mobile-32 rect {
  width: 0.35px;
  x: 0.67;
  y: 0.5;
}

foreignObject[mask="url(#svg-mask-avatar-status-mobile-80)"] + rect {
  fill: #43b581;
  width: 16px;
  height: 24px;
  x: 60;
  y: 52;
}

/* Old rounded status indicator */
.header-QKLPzZ rect[mask="url(#svg-mask-status-online)"], .userPopout-3XzG_A rect[mask="url(#svg-mask-status-online)"] {
  fill: #43b581;
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-idle)"] {
  fill: #faa61a;
  mask: url(#svg-mask-status-online);
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-dnd)"] {
  fill: #f04747;
  mask: url(#svg-mask-status-online);
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-streaming)"]{
    mask: url(#svg-mask-status-online);
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-offline)"] {
  mask: url(#svg-mask-status-online);
}

/* Old offline members */
.memberOffline-2lN7gt .avatarOffline-3GF27z {
  opacity: 1;
  filter: grayscale(1);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Large Profiles ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.root-SR8cQa{
  width: 900px;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Large Pinned ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.messagesPopoutWrap-1MQ1bW{
  width: 920px;
}


/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Animated Ping |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.numberBadge-2s8kKX {
  animation: animatedPing 1.5s infinite ease-in-out;
}

@keyframes animatedPing {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}


/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Call Dock ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.wrapper-3EGhDO {
    background-color: #2C303A;
    border-radius: 25px;
    padding: 0px;
}

.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: currentColor;
}

.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}

div[class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyCenter-3D2jYp alignCenter-1dQNNs noWrap-3jynv6"][style="flex: 1 1 auto;"]{
  background-color: #2C303A;
  border-radius: 30px;
}

.wrapper-2qzCYF.fullScreen-1tMzXY, .wrapper-2qzCYF.noChat-18KtBD {
    height: 100%;
    background: #000;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Role pills ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.role-2irmRk{
  
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    padding: 5px;
}

.roleCircle-3xAZ1j::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: inherit;
    opacity: .2;
    z-index: -1;
    pointer-events: none;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Image |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.imageWrapper-2p5ogY img {
    border-radius: 16px;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Embed Image |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.embedImage-2W1cML img, .embedImage-2W1cML video, .embedThumbnail-2Y84-K img, .embedThumbnail-2Y84-K video, .embedVideo-3nf0O9 img, .embedVideo-3nf0O9 video {
    border-radius: 16px;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Server Channel Sidebar |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

#app-mount .sidebar-2K8pFh {
    background: var(--channel-list);
}

.container-PNkimc {
    background-color: var(--channel-list);
}

.clickable-2ap7je {
    background: var(--channel-list);
}

.channelTextArea-rNsIhG {
    margin-bottom: 24px;
    background-color: var(--background-primary);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Top Bar |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


.container-1r6BKw.themed-ANHk51 {
    background: var(--channel-list);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Chat Bar ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.form-2fGMdU {
    padding-left: 16px;
    padding-right: 24px;
    margin-top: 8px;
    background: transparent;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Emoji Reaction ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
    color: rgba(255,255,255,0), 1);
}

.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: var(--background-accent), 0.2);
}


.reaction-1hd86g {
    background: var(--channel-list);
    border-radius: 1rem;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Server Embed ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


.wrapper-35wsBm {
    border-radius: 16px;
}

.wrapper-35wsBm {
    background-color: var(--background-primary);
    border-radius: 4px;
    padding: 16px;
    width: 432px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Message Menu ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y .wrapper-2aW0bm {
    border-radius: 16px;
}

.button-1ZiXG9.selected-LCBEAU {
    color: var(--interactive-active);
    background-color: var(--background-modifier-selected);
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Code Menu |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.markup-2BOw-j code {
    background: var(--background-primary);
    border: transparent;
    border-radius: 24px;
}

.hljs .powercord-lines:after {
    padding-right: 8px;
    left: 3px;
    border-right: 1px solid var(--background-secondary);
}

/* .powercord-codeblock-copy-btn {
    color: #fff;
    border-radius: 24px;
    line-height: 20px;
    padding: 0 16px;
    font-weight: 600;
    background: var(--background-secondary); /*
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Searchbar |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.privateChannels-1nO12o {
    background-color: var(--channel-list);
}


.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    border-radius: 24px;
    background-color: var(--background-secondary);
    text-align: center;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Private Channels |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.scroller-1JbKMe {
    background-color: var(--channel-list);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Profile Menu Hover ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.panels-j1Uci_ {
    background-color: transparent;
    padding-top: 10px;
    padding-right: 26px;
    padding-bottom: 23px;
    padding-left: 26px;
}

.container-3baos1 {
    height: 44px;
    background: var(--background-secondary);
    border-radius: 24px;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 10px;
}

.nameTag-3uD-yy {
    margin-right: 0px;
}

.subtext-3CDbHg {
    margin-right: -20px;
}

.panels-j1Uci_ > .container-3baos1 button[aria-checked="false"], .panels-j1Uci_ > .container-3baos1 button:not([role="switch"]) {
  display: none;
  background: var(--background-secondary);
}

.panels-j1Uci_ > .container-3baos1:hover button.button-14-BFJ{
  display: block;
}



/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Inbox |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.container-enaOkj {
    border-radius: 24px;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Pinbox ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.messagesPopoutWrap-1MQ1bW {

    border-radius: 24px;

}

.messageGroupWrapper-o-Zw7G {

    border-radius: 24px;

}




/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Friend Search |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.quickswitcher-3JagVE {
    border-radius: 24px;
}

.input-2VB9rf {
    border-radius: 24px;
    box-shadow: none;
    background: var(--background-secondary);
    height: 40px;
}

.result-oB0z-- {

    border-radius: 24px;

}

.resultFocused-3aIoYe {
    background: var(--background-secondary);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| Round Status Selection ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.menu-3sdvDG {
    border-radius: 20px;
}

.item-1tOPte {
    border-radius: 24px;
}

.description-2L932D {

    margin-bottom: 0px;
    font-size: 0px;
    line-height: 0px;

}

.scroller-3BxosC {
    padding: 8px 8px;
}









































/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.footer-1fjuF6{
    border-top: none;
}

.theme-dark .notches-1sAcEM.gray-3_LNYR {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23292841'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

.tabBarContainer-1s1u-z {
    border-top: none;
}

.headerSpotify-zpWxgT {
    background: #699378;
}

.connectedAccount-36nQx7, .lookInverted-2D7oAl, .lookFilled-1Gx00P {
    border-radius: 25px;
}

.theme-dark .quickMessage-1yeL4E {
    border-radius: 25px;
}

.searchBar-3dMhjb {
    border-radius: 25px;
}

.selected-aXhQR6 .layout-2DM8Md {
    border-radius: 25px;
}

.clickable-1JJAn8:hover .layout-2DM8Md {
    border-radius: 25px;
}

.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU {
    border-radius: 25px;
    background-color: var(--background-secondary-alt);
}

.wrapper-1ucjTd:hover .content-3at_AU {
   border-radius: 25px;
}

.scrollableContainer-2NUZem {
    border-radius: 25px;
}

.theme-dark .container-1nZlH6 {
    border-radius: 25px;
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    border-radius: 25px;
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
    border-radius: 25px;
}

.userPopout-3XzG_A {
    border-radius: 15px;
}

.actionsStreamPreview-2JlX14 .buttonSize-2Pmk-w, .actionsUserPopout-2MrzCa .buttonSize-2Pmk-w, .listeningActionsUserPopout-Ga2V_N .buttonSize-2Pmk-w {
    border-radius: 25px;
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-radius: 25px;
}

.topSectionSpotify-1lI0-P {
    background: #699378;
}

.theme-dark .root-1gCeng {
    border-radius: 15px;
}

.inputDefault-_djjkz {
    border-radius: 25px;
}

.theme-dark .copyInput-2rOSt7 {
    border-radius: 15px;
}

.item-26Dhrx {
    border-radius: 25px;
}


.container-2VW0UT.elevationHigh-1PneE4 {
    border-radius: 25px;
}

.css-1a8reka-control, .css-1yegjoj-control  {
    border-radius: 25px;
}

.theme-dark .checkbox-1ix_J3 {
    border-radius: 25px;
}

.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
    border-radius: 25px;
}

 .css-2yldzf-control  {
   border-radius: 20px 20px 0px 0px;
}

.premiumSubscriptionAccountCredit-25i0tQ {
    border-radius: 15px;
}

.iconBackgroundTier1-2GOcU8 {
    border-radius: 15px;
}

.iconBackgroundTier2-2TeI3a {
    border-radius: 15px;
}

.accountCreditRow-SHgyi0:not(:last-child) {
    padding-bottom: 16px;
    border-bottom: none;
}

.detailsBlock-FoDTGA {
    border-radius: 15px;
}

.banner-3Kac2g {
    border-radius: 15px;
}

.gridItemContent-2mkGdJ {
    border-radius: 10px;
}

.gridItem-HzCfl4:before {
    border-radius: 15px;
}

.wrapper-35wsBm {
    border-radius: 15px;
}

.embedFull-2tM8-- {
    border-radius: 4px 15px 15px 4px; 
}

.theme-dark .select-1Pkeg4 {
    border-radius: 25px;
}

.theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, .theme-dark .lookFilled-1h1y05.selectOpen-hQuR6b {
   border-radius: 20px 20px 0px 0px;
}

.topSectionSpotify-1lI0-P .headerFill-adLl4x .tabBarContainer-1s1u-z {
    background: #61876e;
}

.itemCard-v9viV7 {
    border-radius: 15px;
}

.theme-dark .inset-3sAvek {
    border-radius: 25px;
}

.activitySectionAssets-32WyHu .largeImage-DLXk-f {
    border-radius: 25px;
}

.barBase-39XTcM {
    left: 150px;
    right: 150px;
}


.consentCard-1iSxB_ {
    border-radius: 25px;
}

.lookOutlined-3sRXeN {
    border-radius: 25px;
}

.connectionDelete-2Odoln {
    border-radius: 25px;
}

.connection-1fbD7X {
    border-radius: 25px;
}

.button-14-BFJ.enabled-2cQ-u7:hover {
    border-radius: 25px;
}

.button-34kXw5 {
    border-radius: 25px;
}

.item-3T2z1R:last-child {
    border-radius: 0 25px 25px 0;
}

.item-3T2z1R:first-child {
    border-radius: 25px 0 0 25px;
}

.searchFilter-2ESiM3:first-child {
    margin-left: -2px;
    border-radius: 25px 0px 0px 25px;
}

.circleIconButton-jET_ig {
    color: var(--background-accent);
}

.circleIconButton-jET_ig.selected-ugP_am {
    background-color: var(--background-accent);
}

.lookGhost-2Fn_0- {
    border-radius: 25px;
}

.side-8zPYf6 .item-PXvHYJ {
    border-radius: 25px;
}

.multiInput-1e2xJ7 {
    border-radius: 25px;
}

.theme-dark .multiInputLast-1aQ3YA:before {
    border-right-color: transparent;
}

.theme-dark .footer-3rDWdC, .theme-dark .footer-2gL1pp {
    border-radius: 0px 0px 15px 15px !important;
}

.input-1mgnkM, .input-UJ9Tr3 {
    border-radius: 0px !important;
}

.theme-dark .modal-yWgWj- {
    border-radius: 15px;
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--background-modifier-hover);
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--background-modifier-active);
}

.wrapper-3EGhDO {
    background-color: var(--background-secondary);
    border-radius: 25px;
    padding: 0px;
}

.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: var(--text-muted);
}

.wrapper-2qzCYF {
    background-color: var(--background-floating);
}

.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.white-3GPOIp,
.colorable-1bkp8v.red-33-Lnk,
.gradientContainer-10lXLB,
.centerButton-3CaNcJ {
    background: none !important;
}

.card-3Qj_Yx {
    border-radius: 25px;
}

div[class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyCenter-3D2jYp alignCenter-1dQNNs noWrap-3jynv6"][style="flex: 1 1 auto;"]{
  background-color: var(--background-secondary);
  border-radius: 30px;
}

.root-SR8cQa {
    border-radius: 25px;
}

.connectionHeader-2MDqhu {
    border-radius: 25px 25px 0 0;
}

.colorBrand-ROmMP1 {
    color: var(--background-accent);
}

.colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
    color: #f04747 !important;
}

.scrollableContainer-2NUZem {
    background-color: var(--background-secondary) !important;
}

.circleIconButton-jET_ig {
    color: var(--background-accent);
}

.members-1998pB, .members-1998pB>div {
    background-color: var(--channel-primary);
}

.panels-j1Uci_ {
    background-color: var(--channel-primary);
}

#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .markup-2BOw-j > a, #app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .markup-2BOw-j em > a, #app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .markup-2BOw-j strong > a {
  color: rgba(var(--background-accent), 1);
  text-decoration: underline;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .divider-3gKybi {
  margin-top: 20px;
  margin-left: 20px;
  color: var(--channels-default);
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .divider-3gKybi .dividerContent-2L12VI:after, #app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .divider-3gKybi .dividerContent-2L12VI:before {
  content: none;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .divider-3gKybi.dividerRed-MKoLlr {
  color: var(--background-accent);
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .isUnread-3Ef-o9 {
  border: none;
  height: auto;
  top: 0;
  padding: 0 0 20px 0;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .isUnread-3Ef-o9 .unreadPill-2HyYtt {
  right: unset;
  left: 0;
  top: 0;
  background: transparent;
  color: var(--background-accent);
  font-size: 16px;
  position: relative;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .isUnread-3Ef-o9 .unreadPill-2HyYtt svg {
  display: none;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .isUnread-3Ef-o9 + .cozyMessage-3V1Y8y {
  margin-top: 0 !important;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .isUnread-3Ef-o9 + .cozyMessage-3V1Y8y:not(.groupStart-23k01U) {
  padding-top: 20px;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .divider-JfaTT5 {
  border: none;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0 0 20px;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .divider-JfaTT5 span {
  background: transparent;
  font-size: 16px;
  position: relative;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y {
  background: var(--background-secondary);
  margin: 0 8px 0 16px;
  padding: 0 20px 0 9px;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y .contents-2mQqc9,
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y .container-1ov-mD {
  padding-left: 70px;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y .contents-2mQqc9 .avatar-1BDn8e {
  top: unset;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y .wrapper-2aW0bm {
  background: var(--background-secondary);
  box-shadow: transparent;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y .embedFull-2tM8-- {
  background: var(--background-primary);
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y.groupStart-23k01U {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 24px;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y.groupStart-23k01U + .cozyMessage-3V1Y8y:not(.groupStart-23k01U) {
  margin-top: -22px;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y:not(.groupStart-23k01U) {
  padding-bottom: 20px;
  margin-top: -22px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y.mentioned-xhSam7 > div {
  position: relative;
  z-index: 1;
}
#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY .cozyMessage-3V1Y8y.mentioned-xhSam7::after {
  content: "";
  background: rgba(255, 238, 168, 0.1);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

.theme-dark .children-19S4PO:after {
    background: transparent;
}

.circleIconButton-jET_ig {
    color: #fff;
}

.guildSeparator-3s64Iy {
    background-color: transparent;
}

.selected-aXhQR6 .layout-2DM8Md {
    background-color: var(--channel-list);
}















.quickswitcher-3JagVE {
    background-color: var(--background-primary);
}

.scroller-zPkAnE {
    background-color: var(--background-primary);
}
