/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Animated | Profile Badge |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.header-QKLPzZ .headerInfo-30uryT .flex-1xMQg5 div {
    transition: 0.2s;
}
.header-QKLPzZ .headerInfo-30uryT .flex-1xMQg5 div:hover {
    transition: 0.2s;
  transform: translateY(-0.75px);
}
