/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Add-Ons | Windows Menu |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#app-mount > div[class*="titleBar"] > div[class*="wordmark"] {
    margin-top: .2rem;
  }
  
  #app-mount > div[class*="titleBar"] {
    display: grid;
    justify-content: right;
    grid-template-columns: min-content min-content min-content;
    direction: rtl;
    height: 1.72rem;
    margin: 5px 0px 0px 0px;
  }
  
  #app-mount > div[class*="titleBar"] > div[class*="winButton"] {
    display: grid;
    width: 2.9rem;
    height: 1.72rem;
  }
  
  #app-mount > div[class*="titleBar"] > div[class*="winButton"] > svg {
    height: 100%;
    width: 100%;
  
    #app-mount > div[class*="app"] {
    margin-top: -.18rem;
    }
  }
