/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Big Avatar  ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Avatar */

.avatar-1BDn8e {
    width: 60px;
    height: 60px;
  	background: var(--Color003);
	margin-left: 10px;
}

/* Text Spacing */

.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
	padding-left: 110px;
    padding-top: .600rem;
    padding-bottom: .600rem;
}


/* Text Align */

.cozy-3raOZG .messageContent-2qWWxC {
	font-family: var(--font);
    text-align: left;
	margin-left: -72px;
    padding-left: 72px;
	margin-right: 40px;
}
