/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Add-Ons | Button Fix  ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Home Button */

.tutorialContainer-1v44GL {
    background: var(--Color005);
    border-radius: 0 90px 90px 0;
    position: fixed;
    z-index: 3;
    padding-bottom: 4px;
    padding-top: 12px;
    top: 0px;
}

/* Create Server Button */

.tutorialContainer-SGrQ1h {
    background: var(--Color005);
    border-radius: 0 90px 90px 0;
    position: fixed;
    z-index: 3;
    padding-bottom: 4px;
    padding-top: 12px;
    bottom: 0px;
}
