/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Add-Ons | Mobile Menu  |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.button-1w5pas {
  background: url('https://raw.githack.com/CorellanStoma/Powercord/assets/Icons/menu.svg');
  width: 18px;
  height: 18px;
  position: relative;
  opacity: 1;
  top: -1px;
}

.button-1w5pas path {
  display: none;
}

.button-1w5pas.open-1Te94t {
  transform: none;
}
